@font-face{
  font-family: "Seven Segment";
  src: url('fonts/Seven_Segment.ttf'),
}
body{
  background-color: #161616;
}
*{
  box-sizing: border-box;
}
div{
  color: #f5f5f5;
  text-align: center;
  margin-top: 10px;
}

output{
  font-size: 4rem;
  color: red;
  font-family: Seven Segment;
 
}
